<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
          integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
            crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
            integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
            crossorigin="anonymous"></script>
</head>
<body>
    <div id="board" style="width: 800px"></div>
    <script>
        var board,
        game = new Chess();

        function onSnapEnd() {
            board.position(game.fen());
        }

        function onDrop(source, target) {
            if (game.get(source).type === 'p' && target[1] === '8') {
                var promotion = prompt('Promote to (q, r, b, n):');
            } else {
                var promotion = 'q';
            }

            var move = game.move({
                from: source,
                to: target,
                promotion: promotion
            });

            if (move === null) return 'snapback';

            window.setTimeout(makeMove, 250);
        }

        function makeMove() {
            fetch('/next_move', {
                method: 'POST',
                body: JSON.stringify({ 'fen': game.fen() }),
                headers: { 'Content-Type': 'application/json' }
            })
            .then(response => response.json())
            .then(data => {
                const newGameState = data.fen;
                game.load(newGameState);
                board.position(newGameState);
            })
        }

        var cfg = {
            pieceTheme: 'static/img/chesspieces/wikipedia/{piece}.png',
            draggable: true,
            position: 'start',
            onDrop: onDrop,
            onSnapEnd: onSnapEnd
        };
        board = ChessBoard('board', cfg);
    </script>
</body>
</html>